// Contact
.contact{
    @extend %list;
}
.contact__icon {
    fill: currentColor;
    margin-right: 10px;
}

.contact__link {
    @extend %link;
    font-weight: 500;
    color: $text-color;
    line-height: calc(16 / 14);
    &:hover {
        color: $accent-color;
    }
}